
@import url(./theme.scss);
    
:root{
    display: block;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family:  'Roboto', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI',  sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    scroll-snap-type: none;
    
    body{
        margin:0;
        
    }
    h1{ font-family: 'Exo 2', sans-serif;
        font-size: 4rem;
        font-weight: 900;
    }
    h2{ 
        font-family: 'Exo 2', sans-serif;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
    }
    h5{
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
    }
    p{ 
        letter-spacing: 0.05rem;
    }
    a{text-decoration: none;}
    a:hover{
        color: var(--color1);
        transition: ease-in-out .7s;}
    
    
    bold{
        font-weight: bold;
    }
    ::selection { background-color: var(--color6);
    }
    
}

#one{
    scroll-snap-align: start;
}

.index-container{
    position: relative;
    height: 100%;
    
    
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

.page-title{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color1);
    color: var(--secondary);
    line-height: 1em;
    margin: 0.25em;
    font-size: 3rem;
    font-weight: 900;
    transition: .3s ease-in-out;
}


.hero{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    background-color: var(--primary);
    transition: .3s ease-in-out;
    scroll-snap-align: start;

    .intro{
        width: 100%;
        padding: 0 2rem;
        line-height: 0.5rem;
            
        p{font-size: 1.5rem;}
        h1{font-size: 6rem;
        
        }

        @media (max-width: 520px) {
            h1{
                font-size: 3rem;
                line-height: 1rem;}
        }
        #name{
            width: 100%;
            color: var(--secondary);
        }
        #welcome{
            width: 100%;
            color: var(--color1);
        }
        #portfolio{
            width: 100%;
            color: var(--color2);  
        }

    }
    
}

.Abouthero{
    display: grid;
    align-items: center;
    height: 100vh;

    .intro{
        grid-column: 1;
        padding: 0 0 0 2em;
        line-height: normal;

        p{font-size: 1.5em;}

        @media (max-width: 520px) {
            h1{line-height: 1em;}
        }
        @media (min-width: 780px) {
           line-height: 0.25em;
        }
        
    }
    .about-right-block{
        display: none;
        grid-column: 2;
        width: 100%;
        height: 100%;
        background-color: var(--color4);

        @media  (min-width:680px) {
            display: block;
        }
    }
}


.blogcard-container{
    display: grid;
    padding-top: 5em;
    height: 100vh;
    background-color: var(--primary);

    @media (max-width: 600px){
        height:100%;
    }
    .blog-post-cards{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        .single-blog-post{
            display: inline;
            border-radius: 1em;
            background-color: white;
            color: var(--color4);
            height: fit-content;
            width: 60%;
            margin: 1em ;
            
            box-shadow: var(--secondary-shadow);

            @media(max-width:600px){ width: 95%;}

            .summary{
                padding: 1em;
                width: 90%;
                height: 10em;
                
            }


        .blogpost-thumbnail{
            display: block;
            padding-bottom: -1em;
            border-radius: 0 0 1em 1em;
            }
           
            
            
        }

    }
}


.blogpost-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width:80%;
    margin: 4em 0 10em 0;
    .blogtitle{
        width: 100%;
        
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        line-height: normal;
        b{
            padding-top: 2em;
        }
        
    }
    .blogsection-2{
        width:100%;
    }
    
}
.code{
    width:fit-content;
    
}