
.skills-container{
    scroll-snap-align: start;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    padding: 5em 0 0 0;
    background-color: var(--primary);
    
    .skills-title{
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color1);
        color: var(--secondary);
        line-height: 1em;
        margin: 0.25em;
        font-size: 3rem;
        font-weight: 900;
        transition: .3s ease-in-out;
    }
    
    ul{
        font-size: 1.5em;
        line-height: 2rem;
        list-style-type: none;
    }
}

.skills-description{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    text-align: center;
    margin-bottom: 4rem;
    .skills-text{
        display: grid;
        text-align: start;
        margin-top: 2rem;
        p{
            line-height: 1.25rem;
        }
    }
    
    .card-wrapper{
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        
        .skills-card{
            display: grid;
            text-align: center;
            background-color: var(--secondary);
            color:var(--primary);
            
            @media (max-width: 600px){width: 80%;}
            margin: 1rem 0;
            
            @media (min-width: 601px){width: 50%;}
            @media (min-width: 900px){width: 25%;
                margin: 1rem;}
            
            list-style: circle;
            padding: 0 2rem 2rem 0;
            border-radius: 2em;
            box-shadow: var(--primary-shadow);
            .skills-icons{
                display: flex;
                justify-content: space-evenly;
                margin:1rem;
            }
        }
    }
}
