
.skillsContainer{
    position: relative;
    display: block;
    height: 100vh;
    width: 100%;
    padding: 5em 0 0 0;
    background-color: var(--primary);
    scroll-snap-align: start;
    .skills-grid{
        width: 100%;
        display: grid;
        text-align: center;
        row-gap: 4em;
    
        
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .item-1{
            grid-column: 2 ;
            grid-row: 1 / 1;
        }
        .item-2{
            grid-column: 3 ;
            grid-row: 1 / 1;
        }
        .item-3{
            grid-column: 4 ;
            grid-row: 1 / 1;
        }
        .item-4{
            grid-column: 2;
            grid-row: 2 / 2;
        }
        .item-5{
            grid-column: 3;
            grid-row: 2 / 2;
        }
        .item-6{
            grid-column: 4;
            grid-row: 2;
        }
    }
    
    .skills-title{
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color1);
        color: var(--secondary);
        line-height: 1em;
        margin: 0.25em;
        font-size: 3rem;
        font-weight: 900;
        transition: .3s ease-in-out;
    }
    
    ul{
        list-style-type: none;
        font-size: 1.5em;
    }
}
