.headerContainer{
    display: flex;
    position: absolute;
    top: 0;
    
    width: 100%;
    justify-content: flex-end;
    background-color: transparent;
    
    z-index: 100;

    .nav{
        display: inline-flex;
        justify-content: flex-end;
        grid-column: 2;
        padding-top: 1em;
        transition: .3s ease-in-out;
        

        .theme-select{
            border: none;
            margin: 0;
            background-color: transparent;
            display: inline;
            color: var(--light);
            

        }
    
    ul{
        display: inline-flex;
        line-height: 1em;
        list-style-type: none;
        padding: 0;
        border: none;
        li{
            
            
            a{
                padding-left: 0.5em;
                color: var(--secondary);
            }
        }
    }
    }
}