:root{
    
    margin: 0;
    width: 100%;
    height: 100vh;
    a{text-decoration: none;}
    a:hover{
        color: rgb(0, 240, 181);
        transition: ease-in-out .7s;}
    
    }

body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI',  sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    h1{ font-size: 4em;
        font-weight: black;
        
    }
    h2{
        font-size: 2em;
        font-weight: 600;
    }
    h5{
        font-size: 1.2em;
    }
    p{ 
        letter-spacing: 0.05em;
    }
    

}
.headerContainer{
    width: 100%;
    display: grid;
    margin: 0;
    
    .headerLeft{
        grid-column: 1;
        height: 100%;
       
        background-color: rgb(76, 87, 96);
        
    
    }
    .nav{
        grid-column: 2;
        background-color: rgb(209, 64, 129);
    }
    ul{

        display: inline-flex;
        list-style-type: none;
        padding-right: 2em;
        justify-content: flex-end;
        li{
            padding-left: 1em;
            a{
            color: rgb(255, 255, 255);
            }
        }
    }
}
.pattern{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}
.hero{
    display: grid;
    align-items: center;
    height: 100vh;

    .intro{
        grid-column: 1;
        padding: 0 0 0 2em;
        line-height: normal;

        p{font-size: 1.5em;}

        @media (max-width: 520px) {
            h1{line-height: 1em;}
        }
        @media (min-width: 780px) {
           line-height: 0.25em;
        }
        

    }
    .heroRightBlock{
        grid-column: 2;
        width: 100%;
        height: 100%;
        background-color: #0A014F;
    }
}

.portfolioContainer{
    display: grid;
    position: relative;
    background-color: rgb(255, 233, 243);
    
    

    @media (max-width: 980px){
        
    .case-study-container {
        grid-row: 1;
        grid-column: 1;
        width:100%;
        height: 3em;
        
        
        margin: 0 0 5em 0 ;
        
        
        
    .casestudytext{
        display:flex;
        position: absolute;
        top:0;
        padding-top: 0.05em;
        font-size: 2.5em;
        color: #00F0B5;
    }.casestudytext2{
        display:flex;
        position: absolute;
        top:0;
        padding-top: 0.1em;
        opacity: 0.5;
        font-size: 2.5em;
        color: #D14081;
    }
    .casestudytext4{
        display:flex;
        position: absolute;
        top:0;
        opacity: 0.5;
        font-size: 2.5em;
        color: #F5E960;
    }
    .casestudytext3{
        display:flex;
        position: absolute;
        top:0;
        opacity: 1;
        font-size: 4em;
        color: #0A014F;
      
    }}}

    @media (min-width: 980px){
        padding-top: 4em;
    .case-study-container {
        grid-column: 1;
        width: 100%;
        display: inline-block;
        position: absolute;
        left:0;
        transform-origin: (0 0);
        transform: (rotate(270deg));
        bottom: 0;
       
        margin: 0 0 4em 0;
    .casestudytext{
        position: absolute;
        display: inline;
        padding-top: 0.05em;
        margin: 1em 0 0 0;
        font-size: 5em;
        color: #00F0B5;
    }.casestudytext2{
        display:flex;
        position: absolute;
        margin: 1em 0 0 0;
        padding-top: 0.1em;
        opacity: 0.5;
        font-size: 5em;
        color: #D14081;
        
    }
    .casestudytext4{
        display:flex;
        position: absolute;
        margin: 1em 0 0 0;
        opacity: 0.5;
        font-size: 5em;
        color: #F5E960;
    }
    .casestudytext3{
        display:flex;
        position: absolute;
        margin: 0;
        opacity: 1;
        font-size: 8em;
        color: #0A014F;
    }}
    
}

.portfoliocards-container{
    grid-row: 2;
    grid-column: 2;
    .portfoliocards{ 
        
        border-radius: 1em;
        background-color: rgb(10, 1, 79);
        color: white;
        @media(max-width: 580px){
            margin: 0em 0.5em 4em 0.5em;
        }
        @media (min-width: 581px){
            width: 75%;
            margin: 0em auto 4em auto;
        }
        @media (min-width: 795px){
            width: 60%;
            margin: 0em auto 4em auto; 
        }
        

        @media (min-width: 980px){
            width: 75%;
            display: flex;
            float:right;
            margin: 0em 2em 4em 0;}

    
        
        .singleportfoliocard{
            @media(min-width: 980px){display: inline-flex;
            justify-content: flex-end;
             }
            
            .summary{
                padding: 1em;
                width: 90%;
                @media(min-width: 980px){
                    padding: 1em 2em 2em 2em;
                width: 50%;}
            }

        .cardImage{
            border-radius: 0 0 1em 1em;
            @media(min-width: 980px){border-radius: 0 1em 1em 0;}
            }
           
        }
        .card-github{
            color: white;
            :hover{color:#00F0B5;}
           
        }

    
    }

    .portfoliocards:hover{
        --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        
        background-color: white;
        color: black;
        transition: ease-in-out .7s;
        .card-github{
            color: #000;
            transition: ease-in-out .7s;
            
        }
    }
    .portfoliocards:focus{
        --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        
        background-color: white;
        color: black;
        transition: ease-in-out .7s;
    }
  }
}
// .portfolioContainer:hover{
//     background-color: rgb(102, 143, 128);
//     transition: ease-in-out 2s;
// }
.skillsContainer{
    width: 100%;
    display: grid;
    padding-bottom: 5em;
    background-color: white;
    .skills-grid{
        width: 100%;
        display: grid;
        text-align: center;
        row-gap: 4em;
        
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr auto;
        .item-1{
            grid-column: 2 ;
            
            grid-row: 1 / 1;
        }
        .item-2{
            grid-column: 3 ;
            grid-row: 1 / 1;
        }
        .item-3{
            grid-column: 4 ;
            grid-row: 1 / 1;
        }
        .item-4{
            grid-column: 2;
            grid-row: 2 / 2;
        }
        .item-5{
            grid-column: 3;
            grid-row: 2 / 2;
        }
        .item-6{
            grid-column: 4;
            grid-row: 2;
        }

        .person{
            grid-row: 3;
            grid-column: 5;
            margin-bottom: -4em;
        }
    }
    
    .skills-title{
        grid-row: 1;
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
    }
    
    ul{
        list-style-type: none;
        font-size: 1.5em;
    }
}

.Abouthero{
    display: grid;
    align-items: center;
    height: 100vh;

    .intro{
        grid-column: 1;
        padding: 0 0 0 2em;
        line-height: normal;

        p{font-size: 1.5em;}

        @media (max-width: 520px) {
            h1{line-height: 1em;}
        }
        @media (min-width: 780px) {
           line-height: 0.25em;
        }
        
    }
    .about-right-block{
        display: none;
        grid-column: 2;
        width: 100%;
        height: 100%;
        background-color: rgb(10, 1, 79);

        @media  (min-width:680px) {
            display: block;
        }
    }
}


.blog-post-container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    background-color: rgb(255, 233, 243);
    padding-top: 2em;
    
    
    .blog-title{
        text-align: start;
        padding-left: 2em;
        line-height: 0.25em;
    }
    .blog-post-cards{ 
        display: flex;
        justify-content: space-evenly;
        border-radius: 1em;
        background-color: rgb(10, 1, 79);
        color: white;
        margin: 0em auto 4em auto;
        height:fit-content;
        width: fit-content;
        // @media (min-width: 581px){
        //     width: 33%;
        
        // }
        // @media (min-width: 1280px){
        //     width: 25%;
            
        // }
        

        .single-blog-post{
            
            .summary{
                padding: 1em;
                width: 90%;
                @media(min-width: 980px){
                    padding: 1em 2em 2em 2em;
                width: 50%;}
            }

        .blog-image{
            border-radius: 0 0 1em 1em;
            }
           
        // .cardImage:hover{opacity: 0.5;}
        }

    }
}

.footer{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin: 0;
    background-color: rgb(76, 87, 96);
    .footertext{
        color: white;
        padding: 4em;
      }
  }
  

  .socials-container{
      padding: 4em;
  }

  .social-link{
    display: inline-block;
    padding-left: 2em;
    a{
    color: white ;
    }
    .screen-reader-only{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
  }
  
